<div class="ui middle aligned center aligned grid login-window">
  <div class="column">
    <h2 class="ui teal image header">
      <img src=<%= asset_path 'logo.png' %> class="image">
      <div class="content">
        Dashboard
      </div>
    </h2>

    <% if resource.errors.any? %>
      <div class="ui error message">
        <%= devise_error_messages! %>
      </div>
    <% end %>

    <%= form_for(resource, :html => {:class => "ui large form" }, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <div class="ui stacked segment">

        <div class="field <%= valid_field(resource, 'email') %>">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <%= f.email_field :email, :placeholder => "Email", autofocus: true %>
          </div>
        </div>

        <div class="field <%= valid_field(resource, 'password') %>">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password, :placeholder => "Password", autocomplete: "off" %>
          </div>
        </div>

        <div class="field <%= valid_field(resource, 'password_confirmation') %>">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password_confirmation, :placeholder => "Re-Password", autocomplete: "off" %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "Login", class: "ui fluid large teal submit button" %>
        </div>

      </div>

    <% end %>

    <div class="ui message">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
