<div class="panel">
  <% if flash[:error].present? %>
    <%= render "dashboard/shared/message" %>
  <% end %>
  <div class="ui segments">
    <div class="ui segment">
      <p>All Feedback</p>
    </div>
    <div class="ui secondary segment">
      <div class="ui relaxed divided list">
        <% @feedbacks.each do |feedback| %>
        <div class="item">
          <i class="large github middle aligned icon"></i>
          <div class="content">
            <a class="header" href="mailto:<%= User.find(feedback.user_id).email %>"><%= feedback.username %></a>
            <div class="description"><%= feedback.content %></div>
            <%= link_to "已阅",
              admin_feedback_path(feedback), method: :delete,
              data: { confirm: "You sure?" }, :class => "ui  small red" %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
  </div>
</div>
