<div class="ui modal add-xtrans-form">
  <i class="close icon"></i>
  <div class="header">
    创建 xTrans 链路
  </div>
  <div class="content">
    <%= form_for @tunnel, url: {action: "create"}, html: {class: "ui form"} do |f| %>
      <div class="field">
        <label>描述</label>
        <%= f.text_field :name, :required => true, :placeholder => '输入连接点的名称' %>
      </div>
      <div class="field">
        <label>选择入口地址</label>
        <%= f.select(:entrance_id, @entrances, {}, { :class => 'ui dropdown'}) %>
      </div>
      <div class="field">
        <label>目标地址</label>
        <%= f.text_field :target_address, :required => true,
          :pattern => '((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$',
          :placeholder => '数据最终抵达IP地址' %>
      </div>
      <div class="field">
        <label>目标端口</label>
        <%= f.text_field :destination_port, :required => true, :placeholder => '数据最终抵达端口' %>
      </div>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= button_tag(type: 'submit', class: "ui positive labeled icon button") do %>
        <i class="checkmark icon"></i> 提交
      <% end %>
    <% end %>
  </div>
</div>
