<div class="nav">

  <div class="ui fluid labeled icon four item menu">
    <a class="item" href="<%= root_url %>">
      <i class="home icon"></i>
      Home
    </a>
    <a class="item <%= is_active?('xtrans')%>" href="<%=dashboard_xtrans_url%>">
      <i class="rocket icon"></i>
      xTrans
    </a>
    <a class="item <%= is_active?('xtraceroute')%>" href="<%=dashboard_xtraceroute_url%>">
      <i class="world icon"></i>
      xTraceroute
    </a>
    <a class="item <%= is_active?('howtouse')%>" href="<%=dashboard_howtouse_url%>">
      <i class="game icon"></i>
      How to use
    </a>
  </div>
</div>
