<div class="nav">

  <div class="ui fluid labeled icon four item menu">
    <a class="item" href="<%= root_url %>">
      <i class="home icon"></i>
      Home
    </a>
    <a class="item <%= is_active?('index', 'dashboard/tunnels')%>" href="<%=dashboard_tunnels_url%>">
      <i class="rocket icon"></i>
      xTrans
    </a>
    <a class="item <%= is_active?('index', 'dashboard/traceroutes')%>" href="<%=dashboard_traceroutes_url%>">
      <i class="world icon"></i>
      xTraceroute
    </a>
    <% if current_user.id == 1 %>
      <a class="item <%= is_active?('index', 'dashboard/feedback')%>" href="<%=admin_entrances_url%>">
        <i class="dashboard icon"></i>
        Admin
      </a>
    <% else %>
      <a class="item <%= is_active?('index', 'dashboard/feedback')%>" href="<%=dashboard_feedback_url%>">
        <i class="comment icon"></i>
        Feedback
      </a>
    <% end %>
  </div>
</div>
