<div class="nav">
  <div class="ui fluid labeled icon three item menu">
    <a class="item" href="<%= dashboard_tunnels_url %>">
      <i class="home icon"></i>
      Home
    </a>
    <a class="item <%= is_active?('index', 'admin/tunnels') %>" href="<%= admin_tunnels_url %>">
      <i class="rocket icon"></i>
      Tunnels
    </a>
    <a class="item <%= is_active?('index', 'admin/entrances') %>" href="<%= admin_entrances_url %>">
      <i class="cloud icon"></i>
      Entrances
    </a>
  </div>
</div>
