<div class="panel">
  <div class="ui menu">
    <div class="item">
      <div class="ui primary add-tunnel button"><i class="icon plus"></i> xTrans</div>
    </div>
    <div class="item">
      <div class="ui help-tunnel button"><i class="icon help"></i> Help</div>
    </div>
  </div>
  <%= render "dashboard/shared/message" %>
  <div class="ui segments">
    <div class="ui segment">
      <p>xTrans Link point</p>
    </div>
    <div class="ui secondary segment">
      <div class="ui relaxed divided list">
      <% @tunnels.each do |tunnel| %>
        <div class="item">
          <i class="large rocket middle aligned icon"></i>
          <div class="content">
            <div class="ui small labeled input">
              <% @entrance = Entrance.find(tunnel.entrance_id) %>
              <div class="ui <%= valid_tunnel_status(tunnel.id) %> label"><%= @entrance.name %> - <%= tunnel.name %></div>
              <input type="text" value="<%= @entrance.domain %>">
            </div>
            <div class="ui small labeled input">
              <div class="ui label">端口 </div>
              <input type="text" value="<%= tunnel.entrance_port %>">
            </div>
            <div class="ui small labeled input">
              <div class="ui label">目标地址 </div>
              <input type="text" value="<%= tunnel.target_address %>">
            </div>
            <div class="ui small labeled input">
              <div class="ui label">目标端口 </div>
              <input type="text" value="<%= tunnel.destination_port %>">
            </div>
            <%= link_to "删除",
              dashboard_tunnel_path(tunnel), method: :delete,
              data: { confirm: "You sure?" }, :class => "ui label small red button" %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
<%= render "dashboard/tunnels/popup/create_tunnel_form" %>
<%= render "dashboard/tunnels/popup/tunnel_help" %>
<%= javascript_include_tag "popup" %>
