<!DOCTYPE html>
<html>
<head>
  <title>Xtrans</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |key, value| %>
  <div class="<%=flash_class_level(key) %> transition">
  <i class="close icon"></i>
  <%= value %>
</div>
<% end %>
<%= yield %>

<%= javascript_tag do %>
$('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  });
<% end %>

</body>
</html>
